{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
.workspace{
    
}
.workspace-item {
    
}
.inpImg{  
    width: 100%;
    position: absolute;
    max-width: 200px;
    max-length: 200px;
    cursor: move;
}

</style>
<main class="m-3" style="height:1000px">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <input type="file" id="image-input" name="file">
            </div>
            <div id="workspace" class="col-md-8">
                {% comment %} js injects here {% endcomment %}
            </div>
        </div>
    </div>
</main>
{% endblock body %}

{% block js %}
    <script src="{% static 'site_static/js/designer.js'%}"></script>
{% endblock js %}

    