{% extends 'base.html' %}
{% load static %}


{% block body %}
  <!-- Start Filter -->
  <div class="row justify-content-center mt-3 mb-3">
        <div class="col-sm-8">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="mb-2">
                            <a id="default-filter" href="" class="nav-link active">Default</a>
                        </li>
                        <li class="mb-2">
                            <a id="trending-filter" onclick="filter('trending')" href="#popular" class="nav-link">Popularity</a>
                        </li>
                        <li class="mb-2">
                            <a id="new-filter" onclick="filter('new')" href="#" class="nav-link">New</a>
                        </li>
                        <li class="mb-2">
                            <a id="low-high-filter" onclick="filter('low-high')" href="#low-high" class="nav-link">Price: low to high</a>
                        </li>
                        <li class="mb-2">
                            <a id="high-low-filter" onclick="filter('high-low')" href="#high-low" class="nav-link">Price: high to low</a>
                        </li>
                    </ul>
                </div>
            </nav>  
        </div>

    </div>
  <!-- End Filter -->
<div class="row">
  <div class="col-9">
      <div class="products">
          <div class="container">
          <div class="row animated fadeIn">
            {% for product in product_list %}
              <div class="col-sm-12 col-lg-4 mt-3 column">
                  <div class="card">
                    {% if product.PRDimage %}
                    <a href="{{product.get_absolute_url}}">
                        <img class="card-img-top" src="{{product.PRDimage.url}}" alt="{{product.PRDname}}">
                    </a>
                    {% else %}
                    <a href="{{product.get_absolute_url}}">
                        <img class="card-img-top" src="{% static 'site_static/img/default.png' %}" alt="{{product.PRDname}}">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <center><h5 class="grey-text">{{product.PRDcategory}}</h5></center>
                        <center><a href="{{product.get_absolute_url}}"><h4 class="card-title">{{product.PRDname}}</h4></center></a>
                        <center><h4 class="item-price"><strong>{{product.PRDprice}}</strong></h4></center>
                        <center><a href="#" class="btn btn-primary">Add to Cart</a></center>
    
                    </div>
                  </div>
              </div>
            {% endfor %}

          </div>
          </div>
      </div>
  </div>
</div>

{% endblock body %}

